<footer class="footer">
  <div class="container-fluid">
    <hr/>
    <div class="row">
      <div class="col-xs-5">
        <p class="pull-left">© 2017 Company name.</p>
      </div>
      <div class="col-xs-1">
        <a href="#" class="marker-hops pull-right"><img alt="icon" width="25" src="favicon.ico" style="margin-top: -7px;"/></a>
      </div>
      <div class="col-xs-6">
        <div class="pull-right">
          <ul class="list-inline">
           <li><a href="#">Pricing</a></li>
           <li><a href="#">Contact</a></li>
           <li><a href="#">Terms</a></li>
          </ul>
        </div>
      </div>
  </div>
</div>
</footer>
